#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 50%;
    height: 30px;
    background-color: #fffb00;
    text-align: center; 
    line-height: 30px; 
    color: black;
  }