.box1 {
    border-width: 2px;
    border-color: black;
    padding: 25px;
    float: left;
    width: 25%;
    margin-top: 125px;
    margin-left: 50px;
    background-color:lightgray;
  }

.image1 {
  width: 500px;
  height: 300px;
  float: center;
}

.image2 {
  width: 300px;
  height: auto;
  float:center;
  
}

