#profile-pic {
    width: 200px;
  height: 300px;
  object-fit: cover;
  margin-left: 275px;
  margin-top: 300px;
  position: fixed;
}

#profile-pic1 {
  width: 375px;
  height: 300px;
  object-fit: cover;
  float: left;
}

