#profile-pic {
    width: 200px;
  height: 300px;
  object-fit: cover;
  margin-left: 275px;
  margin-top: 300px;
  position: fixed;
}

#profile-pic1 {
    width: 375px;
  height: 300px;
  object-fit: cover;
  margin-left: 600px;
  margin-top: 300px;
  position: fixed;
}

.box {
    border-width: 2px;
    border-color: black;
    padding: 25px;
    float: left;
    width: 25%;
    margin-top: 125px;
    margin-left: 50px;
    background-image: linear-gradient(#B3FFFD, lightpink);
  }