ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }
  
  li {
    float: left;
    position: relative;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  body {
    background-image: url('abstract-overlapping-blue-background-free-vector.jpg') ;
    background-size: cover;
  }

  .img2 {
    width: 150px;
    height: 40px;
  }

  
  
  /* Change the link color on hover */
  li a:hover {
    background-color: gray;
  }

  .active {
    background-color: black;
    color: white;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: left;
  }


.title {
  text-align: center;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  width: 1300px;
  margin: auto;

}

.grid-item {
  background-color: lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 17px;
  text-align: center;
}

.item5 {
  grid-column: 1 / span 2;
  grid-row: 3;
}